<% if current_user == @user %>
  <br>
  <%= link_to "Share location", new_location_path, class: "btn btn-primary" %>
  <br>
  <br>
  <h3 class="text-primary">Shared Locations</h3>
  <% if !@shared_locations.empty? %>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Action</th>
      </tr>
      <% @shared_locations.each do |location| %>
        <tr>
          <td><%= location.latitude %></td>
          <td><%= location.longitude %></td>
          <td><%= link_to "show", location, class: "btn btn-primary" %></td>
        </tr>
      <% end %> 
    </table>
  <% else %>
    <h5 class="text-secondary">No locations was shared with you<h5>
  <% end %>
  <br>
  <h3 class="text-primary">Private Locations</h3>
  <% if !@private_locations.empty? %>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Action</th>
      </tr>
      <% @private_locations.each do |location| %>
        <tr>
          <td><%= location.latitude %></td>
          <td><%= location.longitude %></td>
          <td><%= link_to "show", location, class: "btn btn-primary" %></td>
        </tr>
      <% end %> 
    </table>
  <% else %>
    <h5 class="text-secondary">You have not shared any locations<h5>
  <% end %>
<% end %>
<br>
<h3 class="text-primary">Public Locations</h3>
<% if !@public_locations.empty? %>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Action</th>
    </tr>
    
    <% @public_locations.each do |location| %>
    <tr>
      <td><%= location.latitude %></td>
      <td><%= location.longitude %></td>
      <td><%= link_to :show, location, class: "btn btn-primary" %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <h5 class="text-secondary">No public locations found<h5>
<% end %>
<br>
<%= link_to :Back, :back, class: "btn btn-primary" %>
  